#index-page {

  padding-top: @baseline;

  #intro-section {
    .rounded-corners(20px);
    padding: @baseline 0;
    background-color: lighten(@clr-pri-light, 20%);
  }

  #about-section {
    padding-top: @baseline;
  }

}