extends layout

block content

  div.container_12
    div.grid_12
      h1= title
      p
        a.btn(href="todo") Click to start!

  div.container_12#tech-table
    div.grid_12
      h2 About
      p.
        TodoList is a node.js application for creaiting and maintaining a daily 
        todo-list. TodoList uses the following technologies:

    div.grid_7.table-head
      div.grid_2.alpha Technology
      div.grid_4.omega Purpose

    each tech in techList
      div.grid_7.row
        div.grid_2.alpha
          a(href=tech.url)= tech.name
        div.grid_4.omega= tech.description