doctype 5
html
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/app.js')
    script(type='text/javascript', src='/javascripts/controllers/list-ctrl.js')
  body
    div#main-content
      block content