extends layout

block content

  div#todo-page(ng:app="TodoList")

    div.container_12
      div.grid_6.push_3.center
        h1.todo-list-title My List

    div.container_12
      div.grid_6.push_3
        div(ng:controller="ListCtrl")
          ul.todo-list
            li(ng:repeat="listItem in listItems")
              {{ listItem.description }}
