extends layout

block content

  div#todo-page(ng:app="TodoList")

    div.container_12
      div.grid_12.center
        div(ng:controller="ListCtrl")
          ul
            li(ng:repeat="listItem in listItems")
              {{ listItem.description }}
