a {
  color: @link-text;
  text-decoration: none;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.rounded {
  .rounded-corners;
}

.btn {
  &, &:hover {
    .rounded-corners;
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    border: @btn-border;
    color: @btn-text;
    background-color: @btn-bg;
    cursor: pointer;
    text-decoration: none;
    text-shadow: @btn-text-shadow;
    zoom: 1;
  }

  &:hover {
    background-color: @btn-highlight;
  }

  &:active {
    background-color: @clr-pri-light;
  }
}