// Color scheme
@clr-pri           : lighten(#6fa655, 20%);
@clr-pri-midlight  : darken(@clr-pri, 20%);
@clr-pri-lowlight  : darken(@clr-pri, 30%);
@clr-pri-dark      : darken(@clr-pri, 40%);
@clr-pri-highlight : lighten(@clr-pri, 10%);
@clr-pri-light     : lighten(@clr-pri, 20%);

@clr-a             : #248d78;
@clr-a-lowlight    : #2f5c53;
@clr-a-dark        : #06493b;
@clr-a-highlight   : #83ebd6;
@clr-a-light       : #bdebe2;

@clr-b             : #dd7938;
@clr-b-lowlight    : #90664a;
@clr-b-dark        : #723209;
@clr-b-highlight   : #f9b78b;
@clr-b-light       : #f9dcc8;

@clr-com           : #cd3452;
@clr-com-lowlight  : #864552;
@clr-com-dark      : #6a081b;
@clr-com-highlight : #f68a9f;
@clr-com-light     : #f6c6d0;

// Element colors
@link-text       : @clr-com;
@btn-bg          : @clr-pri-midlight;
@btn-highlight   : @clr-pri;
@btn-text        : #fff;
@btn-text-shadow : 1px 1px @clr-pri-dark;
@btn-border      : 1px solid @clr-pri-lowlight;

// Baseline
@baseline: 12px;
@gridline: 10px;

// Rounded
@default-border-radius: @gridline;
.rounded-corners (@radius: @default-border-radius) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

// 960 Grid System
@import "960/reset.less";
@import "960/text.less";
@import "960/960_12_col.less";

// Base styles
@import "base.less";

// Pages
@import "pages/index.less";
@import "pages/todo.less";